body > .grid {
  height: 100%;
}
.column {
  margin-top: 100px;
}
.column {
  max-width: 450px;
}

img.icon {
  width: 25%;
  height: 25%;
  -moz-animation:3s rotateRight infinite linear;
  -webkit-animation:3s rotateRight infinite linear;
}

@-moz-keyframes rotateRight{
  0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
  100%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{
  0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
  100%{ -webkit-transform:rotate(360deg); }
}
